
<link rel="stylesheet" href="/../../../../styles/index.css"/>

<div id="main-content">
    <div id="manufacturer">

      <form>
        Type of car:<br>
        <input type="text" name="Name"><br>
        Miles per Gallon:<br>
        <input type="text" name="Miles_per_Gallon">
        Cylinders:<br>
        <input type="text" name="Cylinders">
        Displacement:<br>
        <input type="text" name="Displacement">
        Horsepower:<br>
        <input type="text" name="Horsepower">
        Weight in lbs:<br>
        <input type="text" name="Weight_in_lbs">
        Acceleration:<br>
        <input type="text" name="Acceleration">
        Year:<br>
        <input type="text" name="Year">
        Origin:<br>
        <input type="text" name="Origin">
      </form>
  <select id="rere"> <option value="Coupes">Coupes</option> <option value="Sedans">Sedans</option> <option value="Trucks">Trucks</option> <option value="Sport Cars">Sport Cars</option>  <option value="Convertibles">Convertibles</option> <option value="Crossovers">Crossovers</option></select>
Price Range:
<select> <option value="5000">0-5000</option> <option value="5000-10000">5000-10000</option> <option value="10000-25000">10000-25000</option> <option value="50000+">50000+</option> </select>
</div>
