
<link rel="stylesheet" href="/../../../../styles/index.css"/>

<div id="main-content">
    <div id="manufacturer">
    <select><option value="BMW">BMW</option><option value="MAZDA">MAZDA</option><option value="VOLVO">VOLVO</option><option value="CORVETTE">CORVETTE</option><option value="Mercedes BENZ">Mercedes BENZ</option><option value="Chevrlote">Chevrlote</option></select>
    <input />
  </div>
    Car Type:
  <select id="rere"> <option value="Coupes">Coupes</option> <option value="Sedans">Sedans</option> <option value="Trucks">Trucks</option> <option value="Sport Cars">Sport Cars</option>  <option value="Convertibles">Convertibles</option> <option value="Crossovers">Crossovers</option></select>
Price Range:
<select> <option value="5000">0-5000</option> <option value="5000-10000">5000-10000</option> <option value="10000-25000">10000-25000</option> <option value="50000+">50000+</option> </select>
</div>
