<link rel="stylesheet" href="/../../../../styles/loginPage.css"/>
    <div class="abc">
      <div class="center">
        <div class="login--container">
          <form action="/login" method="POST">
          <h3>Login</h3>
          <label for="username">Enter your username:</label>
          <input required type="text" required name="username" value="" placeholder="admin" />

          <label for="password">Enter your password:</label>
          <input required
            type="password"
            name="password"
            required
            placeholder="******"
            value=""
          />
          <button type="submit" name="button">Log in</button>
           </form>
          <p style="color: {{object.color}}">{{object.msg}}</p>
          <form action="/register">
          <button type="submit" >Sign up page</button>
        </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/../../../../scripts/fetch.js"></script>
