<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"

    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="ie-edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Karam, Shadi, Faris" />
    <title>Home Page</title>
  </head>
<body>
<center><h1>ExpressCars </h1></center>
{{> header}}

{{{body}}}

</body>
</html>
